<div class="container" id="chat-grid">
    <div> # of users:<span id="number-of-users"></span></div>
    <ul id="user-list"></ul>
    <h5 id="chat-show-hide">Chat</h5>
    <div id="chat-system">

        <div id="typing">
        </div>

        <div id="chat-list">
        </div>

        <input id ="body" type= "text" placeholder="type something"> 
        <button id="submit-button">Send</button>
    </div>
</div>