<div id= 'chat-grid'>
<h5 id= "chat-show-hide">Chat</h5>
<div id = "chat-system">
<div id="typing"></div>
<div id = "chat-list" style="overflow: scroll; width: 200px; height: 100px;">
</div>
<div id ="end"></div>
 <input id = "body" type= "text" placeholder = "type something"> 
 <button id= "submit-button"> Send</button>
 </div>
</div>
