<div class="container" id="chat-grid">
    <button type="button" class="btn btn-outline-primary" id="chat-show-hide">Click to chat!</button>
    <div id="chat-system">

        <div id="typing">
        </div>

        <div id="chat-list">
        </div>
        <form id="chat-form">
            <textarea id="body" class= 'enter' type= "text" placeholder="Type here to begin..."></textarea><br>
            <button class="btn btn-outline-success" id="submit-button">Send</button>
        </form>
        <div>Available to chat (<span id="number-of-users"></span>):</div>
    <ul id="user-list"></ul>
    </div>
</div>
