<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>



<div id="feed"> </div>

<script>
    var httpClient = axios.create()
    var $feed = $("#feed")

    const options = {
        method: "get",
        url: "/api/posts"
    }

    httpClient(options).then((serverResponse)=>{
        console.log(serverResponse)
        for(var i = 0; i < serverResponse.data.length; i++) {
         $feed.append(`
         <div class="card text-left">
            <div class="row">
                <div class="col-sm-4">
                    <img id="photo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Buck_The_GSD.jpg/170px-Buck_The_GSD.jpg">
                </div>
                
                <div class="col-sm-8">
                <h5 class="card-title">${serverResponse.data[i]._id}</h5>
                <p class="card-text"> ${serverResponse.data[i].body}</p>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
        `)
        }
    })
    
</script>

