<div id="feed"> </div> 
<div> # of users:<span id="number-of-users"></span></div>
<ul id= "user-list"></ul>


      
      <div class="modal fade bd-example-modal-sm" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
      <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body modal-body">
              <h5 class="modal-title" id = "long-modal"></h5>
              <p class="card-text" id= "email"></p>
            </div>
            <ul id = "card-list" class="list-group list-group-flush">
                    <!-- <li id= "1" class="list-group-item"></li>
                    <li id= "2" class="list-group-item"></li>
                    <li id= "3" class="list-group-item"></li> -->
            </ul>

          </div>
        </div>
    </div>
  </div>
</div>