<div id="feed"> </div> 
    <div class="modal fade bd-example-modal-sm" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div class="card"">
                        <img id = "profile-image" class="card-img-top" src="" alt="Card image cap">
                        <div class="card-body modal-body">
                        <h5 class="modal-title" id="long-modal"></h5>
                        <p class="card-text" id="email"></p>
                    </div>
                    <ul id = "card-list" class="list-group list-group-flush">
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>