<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Postr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if (loggedIn){ %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= `${currentUser.username}` %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="/api/logout">logout</a>
          </div>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                +
              </button>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New post...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form action="/api/posts" method="post">
          <div class="modal-body">
              <div class="form-group">
                <label for="message-text" class="col-form-label">Status:</label>
                <textarea name="body" class="form-control" id="message-text"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id= "post" type="submit" class="btn btn-primary">Post</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <script>

  var post = document.querySelector("#post")
  var status = document.querySelector("#message-text")

  post.addEventListener("click", function (){
    status.value() = ""
  })


  
  
  
  
  
  </script>

