.footer {
    position: fixed;
    text-align: right;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
}

.login-btns {
    vertical-align: bottom;
    display: inline-block;
}

.form-control {
    height: 48px;
}

.logindiv {
    margin-top: 15px;
}

.welcome-text {
    margin-top: 50px;
}

.sign-up {
    margin: 50px 50px;
}

.post-holder {
    margin: 10px 250px;
}

.post-right {
    padding: 10px;
}

.crud-Btn {
    margin-right: 10px;
    float: right;
}

.photo-holder {
    padding: 10px;

}

#message-text {
    height: 100px;
}

#photo {
    height: 80px;
    width: 80px;
    margin: 10px;
}