.footer {
    position: fixed;
    text-align: right;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
}

.login-btns {
    vertical-align: bottom;
    display: inline-block;
}

.form-control {
    height: 48px;
}

.logindiv {
    margin-top: 15px;
}

.welcome-text {
    margin-top: 50px;
}

.sign-up {
    margin: 50px 50px;
}

.post-holder {
    margin: 10px 250px;
}

.post-right {
    padding: 10px;
}

.crud-Btn {
    margin-right: 10px;
    float: right;
}

.photo-holder {
    padding: 10px;

}

.message-text {
    height: 100px;
}

#photo {
    height: 80px;
    width: 80px;
    margin: 10px;
}


#chat-system{
    display: none;
}

#chat-grid{
    bottom: 30px;
    left: 15px;
    z-index: 3;
    position: fixed;
    width: 250px;
     
}

.hover:hover {
    cursor: pointer;
}

#chat-show-hide:hover {
    cursor: pointer;
}

#dateStamp {
    font-style: italic;
}

#strikethrough {
    text-decoration: line-through;
}

#chat-list {
    overflow: scroll; 
    width: 200px; 
    height: 100px;
}

#chat-system {
    background: white;
}

#chat-form { 
    width: 300px;   
}

#long-modal, #email {
    text-align: center;
}

#submit-button, #body {
    vertical-align: bottom;
}

#submit-button {
    width: 182px;
}